<div class="container">
    <div class="card-deck mb-3 text-center">
        <div *ngFor="let offer of offers" class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{offer.name}}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">€ {{offer.price}} <small class="text-muted">/ an</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li *ngFor="let type of offer.types">{{type}}</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
          </div>
    </div>
  </div>