<div class="step2">
    <div class="student">
        <form class="form-signin" name="userform" method="post" #formCtrl="ngForm">
            <select name="gender" class="form-control" [(ngModel)]="student.gender">
                <option>Monsieur</option>
                <option>Madame</option>
            </select>
            <input name="firstNAme" type="string" id="inputEmail" [(ngModel)]="student.firstName" class="form-control" placeholder="Prenom"
                required="" autofocus="">
            <input name="lastName" type="string" class="form-control" [(ngModel)]="student.lastName" placeholder="Nom" required>
            <input name="age" type="number" class="form-control" [(ngModel)]="student.age" placeholder="l'age" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="storeStudent()" [disabled]="formCtrl.form.invalid">ajouter cette eleve </button>
            <hr>

        </form>
    </div>

    <app-choose-program></app-choose-program>
</div>