<div class="step1">

  <form name="userform" method="post" #formCtrl="ngForm">
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <h1>Inscription</h1>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input name="firstName" [(ngModel)]="user.firstName" type="text" class="form-control  " id="validationServer01" placeholder="First name"
          value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input name="lastName" [(ngModel)]="user.lastName" type="text" class="form-control " id="validationServer02" placeholder="Last name"
          value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServerUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input name="Username" [(ngModel)]="user.username" type="text" class="form-control " id="validationServerUsername" placeholder="Username"
            aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-8 mb-3">
        <label for="inputAddress">Address</label>
        <input name="Address" [(ngModel)]="user.address" type="text" class="form-control  " id="inputAddress" placeholder="1234 Main St"
          required>
        <div class="invalid-feedback">
          Please provide a valid Address.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="inputAddress2">Address 2</label>
        <input name="Address2" [(ngModel)]="user.address2" type="text" class="form-control  " id="inputAddress2" placeholder="Apartment, studio, or floor">
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-8 mb-3">
        <label for="validationServer03">City</label>
        <input name="City" [(ngModel)]="user.city" type="text" class="form-control  " id="validationServer03" placeholder="City"
          required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer05">Zip</label>
        <input name="zipCode" [(ngModel)]="user.zipCode" type="text" class="form-control  " id="validationServer05" placeholder="Zip"
          required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input name="legalConfirmation" [(ngModel)]="legalConfirmation" class="form-check-input " type="checkbox" value="" id="invalidCheck3"
          required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formCtrl.form.invalid" (click)="firstStepRegister()">Submit form</button>
  </form>

</div>