 .step1 {
    display: -ms-flexbox;
    display: -webkit-box; 
    display: flex; 
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; 
 }

 .invalid-feedback{
    visibility: hidden;
}
.valid-feedback{
    visibility: hidden;
}

/* class is-valid  and is-invalid is to be add in inputs*/