<body class="text-center">
  <form class="form-signin" name="userform" method="post" #formCtrl="ngForm">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    
    
    <button type="button" class="btn btn-block  fa fa-google " (click)="signInWithGoogle()" >
        <i class="" aria-hidden="true"></i>
        Continuer avec Google
      </button>

    <button type="buton" class="btn btn-block fa fa-facebook" (click)="signInWithFacebook()">
      <i class="" aria-hidden="true"></i> 
      Continuer avec Facebook
    </button>

    <button type="button" class="btn btn-block fa fa-twitter" (click)="signInWithTwitter()">
      <i class="" aria-hidden="true"></i>
      Continuer avec Twitter
    </button>

    <hr>


    
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
     <input name="email" type="email" id="inputEmail" [(ngModel)]="user.email" class="form-control" placeholder="Adresse e-mail"
      required="" autofocus="">
    <input name="firstName" type="string" class="form-control" [(ngModel)]="user.firstName" placeholder="Prénom" required>
    <input name="lastName" type="string" class="form-control" [(ngModel)]="user.lastName" placeholder="Nom de famille" required>
    <input name="phoneNumber" type="string" class="form-control" [(ngModel)]="user.phoneNumbre" placeholder="Numéro de mobile" required>

    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input name="password" type="password" id="inputPassword" [(ngModel)]="user.password" class="form-control" placeholder="Mot de passe"
      required="">
   


    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">Créer un compte</button>
    <hr>

    <div class="checkbox mb-3">
        <label>
            Vous avez déjà un compte ? 
        </label>
        <label>
          <a _ngcontent-c1="" class="forgotten-pwd" href="/">Se connecter</a>
        </label>
      </div>

    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>


</body>